asgiref==3.11.0
black==26.1.0
click==8.3.1
colorama==0.4.6
crispy-bootstrap5==2025.6
Django==4.2.11
django-crispy-forms==2.4
django-debug-toolbar==6.0.0
django-environ==0.13.0
django-filter==25.1
load-dotenv==0.1.0
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.2
psycopg2-binary==2.9.11
python-dotenv==1.2.1
pytokens==0.4.1
sqlparse==0.5.5
tzdata==2025.3
