{% extends "base.html" %}

{% block content %}
  <h1>
    Positions
    <a href="{% url 'positions-create' %}">+</a>
  </h1>
  {% if positions %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Position</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    {% for position in positions %}
      <tr>
        <td>{{ position.id }}</td>
        <td>{{ position.name }}</td>
        <td><a href="{% url 'positions-update' pk=position.id %}">Update</a></td>
        <td><a href="{% url 'positions-delete' pk=position.id %}">Delete</a></td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No positions available.</p>
  {% endif %}
{% endblock %}