{% extends "base.html" %}

{% block content %}
  <h1>
    All Tasks
    <a href="{% url 'task-create' %}">+</a>
  </h1>

  {% if tasks %}
    <table class="table table-striped">
      <tr>
        <td>ID</td>
        <td>Task Name</td>
        <td>Priority</td>
        <td>Status</td>
        <td>Assignee</td>
        <td>Task type</td>
        <td>Deadline</td>
        <td>Update at</td>
        <td>Created at</td>
      </tr>
    {% for task in tasks %}
      <tr>
        <td><a href="{{ task.get_absolute_url }}">{{ task.id }}</a></td>
        <td><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
        <td>{{ task.priority }}</td>
        <td>{{ task.status }}</td>
        <td>
          <ul>
              {% for user in task.assignee.all %}
                <li>{{ user }}{% if not forloop.last %}</li> {% endif %}
              {% empty %}
                —
              {% endfor %}
          </ul>
        </td>
        <td>{{ task.task_type }}</td>
        <td><b>{{ task.deadline }}</b></td>
        <td>{{ task.updated_at }}</td>
        <td>{{ task.created_at }}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No tasks available.</p>
  {% endif %}
{% endblock %}
