{% extends "base.html" %}

{% block content %}
  <h1>{{ task.name }}</h1>
  <h4>ID: {{ task.id }} ---
    {% if task.is_complete %}
      Complete
    {% else %}
      In progress
    {% endif %}
  </h4>

  <div>
    <br>
    <p><strong>Deadline: {{ task.deadline }}</strong></p>
    <p><strong>Priority: {{ task.priority }}</strong></p>
    <br>Task type: {{ task.task_type }}
    <br>Created ate: {{ task.created_at }}
    {% if task.updated_at %}
      <br>Updated ate: {{ task.updated_at }}
    {% endif %}
      <div><br>
        Assignee:
      {% for user in task.assignee.all %}
        <li>{{ user }}{% if not forloop.last %}</li> {% endif %}
      {% empty %}
        —
      {% endfor %}
      </div>
    <br><p>Description: {{ task.description }}</p>


  </div>


{% endblock %}

        <td>Assignee</td>
        <td>Update at</td>
        <td>Created at</td>
