{% extends "base.html" %}

{% block content %}
  <h1>
    All Tasks
    <a href="{% url 'task-create' %}">+</a>
  </h1>

  <form method="get" class="filter-form">
    <div class="filter-search">
      {{ filter.form.q.label_tag }} {{ filter.form.q }}
    </div>

    <div class="filter-fields">
      {{ filter.form.active_filter.label_tag }} {{ filter.form.active_filter }}
      <br>
      {{ filter.form.task_type.label_tag }} {{ filter.form.task_type }}
      {{ filter.form.assignee.label_tag }} {{ filter.form.assignee }}
      {{ filter.form.priority.label_tag }} {{ filter.form.priority }}
      {{ filter.form.status.label_tag }} {{ filter.form.status }}
      {{ filter.form.deadline_filter.label_tag }} {{ filter.form.deadline_filter }}
    </div>

    <div class="filter-buttons">
      <button type="submit" class="btn btn-primary">Filter</button>
      <a href="{% url 'tasks-list' %}" class="btn btn-secondary">Reset Filters</a>
    </div>
  </form>

  {% if tasks %}
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Task Name</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Assignee</th>
        <th>Task type</th>
        <th>Deadline</th>
        <th>Update at</th>
        <th>Created at</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for task in tasks %}
        <tr>
          <td><a href="{{ task.get_absolute_url }}">{{ task.id }}</a></td>
          <td><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
          <td>{{ task.priority }}</td>
          <td>{{ task.status }}</td>
          <td>
            <ul>
              {% for user in task.assignee.all %}
                <li>{{ user }}</li>
              {% empty %}
                —
              {% endfor %}
            </ul>
          </td>
          <td>{{ task.task_type }}</td>
          <td>{{ task.deadline }}</td>
          <td>{{ task.updated_at }}</td>
          <td>{{ task.created_at }}</td>
          <td><a href="{% url 'task-update' pk=task.id %}">Update</a></td>
          <td><a href="{% url 'task-delete' pk=task.id %}?next={% url 'tasks-list' %}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No tasks available.</p>
  {% endif %}

{% endblock %}
