{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container-fluid px-0">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

      <h1 class="mb-4">Create worker</h1>

      <div class="card bg-dark text-light">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-end mt-3">
              <button type="submit" class="btn btn-primary">
                Create
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
